.writing>div {
	float: left;
	margin-right: 10px;
}

.writing {
	margin-bottom: 20px;
}

#category-value {
	height: 25px;
}

#btn_group1 {
	width: 1200px;
	margin-top: 10px;
}

.uploadfile {
	float: left;
}

.sub-buttons {
	float: right;
	width: 240px;
	margin-left: 400px;
}

.btn {
	background: #64b6d6;
	border: none;
	transition: background-color 0.5s
}

.btn:hover {
	background: #3b86a3;
}

#write-title{
	font-size: 30px;
}